@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alcubierre";
  src: url("./fonts/Alcubierre.otf");
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Regular.ttf");
}

* {
  scroll-behavior: smooth;
}
